# Use this file to create an environment using:
# $ conda create --name env_name -c bioconda  --file <this file>

# REQUIRED: DO NOT CHANGE
python>=3.5
graphviz>=2.38.0
snakemake>=3.4.2
click
Sphinx
coverage
awscli
flake8

# Packages specific to your pipeline
ipython
seaborn
pandas
numexpr
numpy
xlrd
xlwt
